/* CSS Document */
body {
	background : url(../images/bg-top.jpg) repeat-x;
}

li.nav{
	display:inline
}

ul.nav{
	margin-left:-75px;
}

a:hover {color:#000000;}   /* mouse over link */

a:active {color:#000000;}  /* selected link */

#gridImg{
	border:1px bold;
	border-color:#808080;
	width:20px;
	padding-right:298px;
}

/*TITLE BLOCK*/
#title_block{ 
	width:1000px;
	margin:auto;
	background-color:#FFFFFF;
}

#login{
    border : 2px solid #808080;
	margin-left: 427px;
	width: 306px;
	height: 92px;
	margin-top: 15px;
}

.login_style{
	background-color:#808080;
}

#navi_block{
	margin-top:32px;
	margin-left:644px; 
}

.navi_tx{ 
	font:bold 25px Trebuchet MS; 
	color:#808080; 
	text-decoration: none; 
	padding:0 16 0 0px;
}

#sub_header{
	font:bold 20px  Trebuchet MS;
	color:#000000;
	background:#ffffff;
	margin-left:47px;
	padding-top:16px;
 }

/*MAIN BLOCK*/
#main_block {
	width:1000px;
	height:1000px;
	margin:auto;
	margin-top:20px;
	background:#FFFFFF
}

#sub_block1{
	width:1000px;
	margin:auto;
}

#sub_block2{
	width:900px;
	margin:auto;
	border:1px solid;
	/*border-color:#808080;
    background : url(../images/bg-top.jpg) repeat-x;*/
	border-color:#000000;
}
#product_block{
	width:900px;
	margin:auto;
	/*border:1px solid;
	border-color:#808080;
    background : url(../images/bg-top.jpg) repeat-x;*/
}

.input_style{
	width:200px;
	height:22px;
	background-color:#808080;
}

.button_class{
	margin-top: 25px;
	margin-left: 120px;
	width:120px;
	height:38px;
}

.image_class{
	width: 117px;
	height: 35px;
	margin-left: -6px;
	margin-top: -1px;
}

#form{
	font:bold 20px  Trebuchet MS;
	color:#000000;
	background:#ffffff;
	width:500px;
	margin-left:350px;
	margin-top:50px;
}

span.wizard{
	font:bold 30px  Trebuchet MS;
	color:#000000;
	background:#ffffff;
	width:500px;
	margin-left:200px;
	margin-top:70px;
}

span.wizardHeader{
	font:bold 50px  Trebuchet MS;
	color:#000000;
	background:#ffffff;
	width:500px;
	margin-left:20px;
	margin-top:50px;
}
/*FOOTER BLOCK*/
#footer_block{ 
	width:1000px;
	background : url(../images/tile.gif) repeat-x;
	padding-bottom:10px;
	margin-left: auto;
	margin-top: 140px;
}

